@{
    ViewData["Title"] = "Dashboard-Add Vechicle";
}

<div class="row">
      <div class="col-6">
        <img src="~/img/buspoint.png" style="width:auto; height:auto;"/>
    </div>
    <div class="col-4">
        <h3>Add New Vehicle</h3>
        <hr />
        <form method="post">
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Vehicel Type</option>
                  <option value="1">Two Wheeler</option>
                  <option value="2">Four Wheeler</option>
                  <option value="3">Heavy</option>
                  <option value="4">Others</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Vehicel Name</label>
                <input type="text" class="form-control"  placeholder="Car">
            </div>
            <div class="mb-3">
                <label for="vno" class="form-label">Vehicle Number</label>
                <input type="number" class="form-control"  placeholder="Vehicel Number">
            </div>

             <div class="mb-3">
                <label for="did" class="form-label" placeholder="Driver ID">Driver ID</label>
                <input type="number" class="form-control" placeholder="Driver ID">
            </div>

             <div class="mb-3">
                <label for="rno" class="form-label" placeholder="Route No">Route No</label>
                <input type="text" class="form-control"  placeholder="Route No">
            </div>


            <hr />
            <button type="submit" class="btn btn-success">Save</button>
        </form>

    </div>
</div>