@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <h3>Menu</h3>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">Account</li>
            <li class="list-group-item">Bus Details</li>
            <li class="list-group-item">Route Details</li>
             <li class="list-group-item">Stations</li>
            <li class="list-group-item">Employee</li>
            <li class="list-group-item">Settings</li>
            <li class="list-group-item">Logout</li>
        </ul>
    </div>

    <div class="col-8">
        <h3>Dashboard</h3>
    </div>
</div>