@{

    ViewData["Title"] = "Login";
}
@model City_Bus_Management_Project.Models.Login
<div class="row bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Login</h3>
                            <hr /> 
                            <form method="post" asp-controller="AuthController" asp-action="Login">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Password"/>
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                
                                <hr />
                                <button type="submit" class="btn btn-success">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>