@{

    ViewData["Title"] = "Signup";
}
@model City_Bus_Management_Project.Models.Signup

<div class="row bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Signup</h3>
                            <hr/>

                            @if(TempData["error"] is not null )
                            {
                                <div class="alert alert-danger">@TempData["error"]</div>
                            }
                            @if(TempData["msg"] is not null)
                            {
                                <div class="alert alert-success">@TempData["msg"]</div>
                            }

                            <form method="post" asp-controller="Auth" asp-action="Signup">
                                <div class="mb-3">
                                    <label asp-for="driverId" class="form-label">Driver ID</label>
                                    <input type="text" asp-for="driverId" class="form-control" placeholder="driverId">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label" asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Ram Bahadur Thapa"/>
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Bno" class="form-label">Bus No:</label>
                                    <input type ="text" asp-for="Bno" class="form-control" id="Bno" placeholder="Ba 2 Kha 555">
                                    <span class="text-danger" asp-validation-for="Bno"></span>                                
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="confirmPassword" class="form-label">Password Confirmation</label>
                                    <input type="password" asp-for="confirmPassword" class="form-control" placeholder="Password">
                                    <span class="text-danger" asp-validation-for="confirmPassword"></span>
                                </div>

                                <hr/>
                                <button type="submit" class="btn btn-success">Signup</button>
                                 <p><h5>Or,</h5></p>
                                 <p>If you already have an account</p>
                                 <button type="submit" class="btn btn-success" class="text-dark" asp-action="Login" asp-controller="Auth">Login </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>